
.App-header {
  background-color: #f0ce60;
  color: rgb(49, 49, 49);
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.App{
  background-color: #f1f1f1;
}

.Name-dev {
  text-align: center;
  padding: 10px 20px;
}

.Name-dev h1 {
  padding: 0;
  margin: 0;
}

.Name-dev p {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: rgb(49, 49, 49);
  text-decoration: none;
}

nav a:hover {
  color: rgb(131, 131, 131);
}

a {
  color: #61dafb;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
  padding-top: 80px;
}

main h2 {
  width: 100%;
  text-align: flex-start;
}

section {
  width: 100%;
  margin: 0;
  max-width: 1200px;
}

h1 {
  color: #282c34;
}

h2 {
  color: #282c34;
}

.about-section {
  display: flex;
  text-align: justify;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}

.about-content {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.about-image {
  width: 220px;
  height: auto;
  margin-right: 20px;
  border-radius: 20px;
}

.download-cv-button {
  background-color: #282c34;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.download-cv-button:hover {
  background-color: #3b3b3b;
}

/* Estilos para a seção de habilidades */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.skill-card {
  background-color: #f0ce60;
  color: #313131;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.skill-card h3 {
  margin-top: 0;
}

.skill-card ul {
  list-style-type: none;
  padding: 0;
}

.skill-card li {
  margin: 5px 0;
}

.skill-card h3 {
  margin-top: 0;
  text-align: center;
}

.under-construction {
  display: flex;
  align-items: left;
  height: 300px;
}

.under-construction img {
  max-width: 100%;
  height: 300px;
}


footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px;
}

footer p {
  font-size: 18px;
}

footer h1 {
  color: #ffffff;
}

footer a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

footer a:hover {
  color: #f0ce60; /* Cor ao passar o mouse */
}

footer .social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 36px;
}

footer .social-icons i {
  margin: 0 15px;
}
